* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {

    left: calc(50% - 640px);
    /* background: #d9d7eb11; */
  
}

.wrapper {
    height: 100%;
    width: 1200px;
    position: relative;
    margin: auto;
    /* border: red solid 2px; */

}

header {
    /* position: absolute; */
    /* top: 60px; */
    /* left: 46px; */
    /* z-index: 2; */
    /* width: 100%; */
    height: 60px;
    background: #1a06f5e0;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    /* border: red solid 2px; */
    /* background: #1a06f5e0; */
    
}

.header__navigation {
    width: 70%;
}

.navigation {
    /* border: red solid 2px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
   
}

.navigation__link {
    list-style-type: none;
    
}
a {
    color: aliceblue;
}
/* .promo {
    background: url(./img/depositphotos_5419181-stock-photo-map-of-austria-in-austrian.jpg) no-repeat 30px 20px;;
    
} */

.promo__wrapper {
    border: red solid 2px;
    /* width: 100%; */
    height: 600px;
    /* background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #f9f9fc 0%, #dadcdf 100%); */
}
/* .promo__wrapper {

} */
.title__image {
    border: red solid 2px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 130px;
}
.promo__title {
    width: 400px;
    /* left: 33%; */
    padding-top: 30px;
    /* top: 40px; */
    /* text-align: center; */
    border: red solid 2px;
}
.image__ausstralian {
    width: 15%;
    /* border: red solid 2px; */
}

.promo__content {
    position: absolute;
    display: flex;
    justify-content: space-around; 
    top: 130px;
    /* border: red solid 2px; */
    /* left: 33%; */
    width: 100%;
}

.promo__text {
    border: red solid 2px;

}

.promo__image {
    top: 20px;
    text-align: center;
    width: 50%;
    position: relative;
    overflow: hidden;
    /* transition: width .4s; */
    height: 100%;
    /* border: red solid 2px; */
}

.image {
    width: 60%;
    border: red solid 2px;
    /* height: 350px; */
}

.promo__button {
    position: absolute;
    width: 207px;
    height: 52px;
    top: 520px;
    left: 40%;
    background: #0537db;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    border: none;
    color: white;
}

.promo__button:hover {
    cursor: pointer;
}

.certificates {
    width: 100%;
    height: 600px;
}

.certificates__title {
    position: absolute;
    width: 400px;
    /* height: 90px; */
    left: 33%;
    top: 40px;
    text-align: center;
    border: red solid 2px; 
}

.certificates__images {
    position: absolute;
    display: inline-block;
    /* justify-content: space-around;  */
    top: 130px;
    left: 5%;
    width: 90%;
    height: 70%;
    border: red solid 2px; 
}

.certificate {
  border: red solid 2px; 
  padding: 2px;
  margin: 2px 3% 3% 3%;
  width: 25%;
  /* height: 100%; */
}

.reviews__wrapper {
    height: 608px;
    /* border: red solid 2px;  */
    /* display: block; */
    /* background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5a5d7f4a 0%, #313c4b 100%); */
}

.reviews__title {
    position: absolute;
    width: 400px;
    /* height: 90px; */
    left: 33%;
    top: 40px;
    text-align: center;
    border: red solid 2px; 
   /* color: aliceblue; */
}

.revievs__text {
    position: absolute;
    width: 80%;
    height: 100px;
    top: 430px;
    left: 10%;

}

.revievs__button {
    position: absolute;
    top: 550px;
    left: 45%;
}

.reviews__field {
    position: absolute;
    top: 100px;
    /* margin-top: 10px; */
    border: red solid 2px; 
   
}

.review {
    margin: 1% auto;
    border: rgba(170, 141, 224, 0.284) solid 2px; 
    border-radius: 5px;
    width: 90%;
    
}

.footer {
    background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #2603eee8 0%, #e6e6ea4d 100%);
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 150px;
   
}

#contacts {
    /* border: red solid 2px;  */
    width: 50%;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}

.tel__mailo {
    margin-top: 20px;
}

.img-mail {
    width: 30px;
    height: 20px;
}

.img-phone {
    width: 30px;
    height: 30px;
}

.contacts-mail,
.contacts-phone {
    font-size: 25px;
}

.footer__logo-line {
    margin-top: 10px;
    margin-right: 20px;
}

/* Стили для подложки */

.overlay {
   
   /* Скрываем подложку  */
   opacity: 0;
   visibility: hidden;
   
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
   z-index: 20;
   transition: .3s all;
}


/* Стили для модальных окон */

.modal {
      /* Скрываем окна  */
   opacity: 0;
   visibility: hidden;
     
   /*  Установаем ширину окна  */
/*    width: 100%; */
/*    width: 500px; */
/*     height: 100%; */
/*    heigth: 700px; */
   /*  Центрируем и задаем z-index */
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 30; /* Должен быть выше чем у подложки*/
   
   /*  Побочные стили   */
   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
   text-align: center;
   padding: 30px;
   border-radius: 3px;
   background-color: #fff;
   transition: 0.3s all;
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active{
   opacity: 1;
   visibility: visible;
}


/* Стили для кнопки закрытия */

.modal__cross {
   width: 15px;
   height: 15px;
   position: absolute;
   top: 20px;
   right: 20px;
   fill: #444;
   cursor: pointer;
}
.button__to-send {
   background: blue;
   border-radius: 20px;
   color:white;
 
}
.counter {
   margin-top: 5px
}


/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

a {
   padding: 20px;
   display: inline-block;
   text-decoration: none;
   background-color: #414b52;
   margin: 10px;
   color: #fff;
   border-radius: 3px;
}


/* Coments */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#component {
  position: absolute;
  display: flex;
  border: red solid 2px;
  width: 20%;
  height: 40%;
  left: 40%;
  top: 40%;
  flex-direction: column;
  justify-content: space-around; 
}

.text {
  width: 60%;
  border: red solid 2px;
}

.button {
  border: red solid 2px; 
  width: 25%;
}

.tags-area {
  border: red solid 2px; 
  height: 80%;
}

.new-teg {
  display: flex;
  justify-content: space-around;
  border: red solid 2px; 
  background-color: green;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(6, 236, 37, 0.451);
  border-radius: 10px;
  list-style-type: none;
  font-size: 30px;
  width: 40%;
  margin-left: 30%;
  padding-bottom: 2px; 
   }




@media (max-width: 1279px) {
    body {

        left: calc(50% -430px);
        background: #d9d7eb11;
      
    }  
    .wrapper {
        width: 100%;     
    
    }
}

@media (max-width: 768px) {
    body {

        left: calc(50% -430px);
        background: #d9d7eb11;
      
    }  
    .wrapper {
        width: 100%;     
    
    }
    .promo__wrapper {
       
        height: 800px;
      
    }
    .promo__content {
     
        flex-direction: column;
        align-items: center;
       
        height: 500px;
       
    }
    .promo__button {
        top: 720px;
    }
    .certificates__title {
      
        left: 15%;
      
    }
    .reviews__title {
        
        left: 15%;
     
    }
      
}
